/** {
  border: 1px solid black;
}*/

body {
}

header {
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 36px;
  margin: 20px auto 10px auto;
}

header h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 10px auto;
}

header h4 {
  font-size: 18px;
  margin: 10px auto;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}

section {
  display: inline-block;
  width: 100%;
}

section#new-album-input {
  margin-bottom: 50px;
}

form#newAlbumForm {
  padding: 5px auto;
}

img {
  width: 350px;
  height: auto;
  border: 1px solid black;
}

.form-control {
  margin: 0 10px;
}
